/* Browser Default styles reset */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	color: inherit;
	text-decoration: none;
}

.search img {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}
.trending img {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}
.intro img {
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

body {
	height: 100vh;
	width: 100vw;
}
/* 3 Main Sections layout */
.container {
	display: grid;
	max-height: 100%;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 5fr;
}
.sidebar {
	grid-column-start: 1;
	grid-row: 1 / 3;
	height: 100vh;
}
.header {
	grid-column: 2;
	grid-row: 1 / 2;
}
.main {
	grid-row: 2 / 3;
	grid-column: 2;
}

/* Sidebar Styling */

.sidebar {
	display: grid;
	padding-left: 25px;
	padding-top: 20px;
	grid-template-rows: repeat(10, min-content);
	background-color: rgb(59, 134, 109);
	color: white;
	font-weight: bold;
	font-size: 1.2rem;
	row-gap: 20px;
}
.dashboard {
	margin-bottom: 30px;
}
.gapper {
	margin-bottom: 50px;
}
i {
	margin-right: 15px;
}

/* Header Styling */
.header {
	display: grid;
	max-height: 100%;
	grid-template-rows: 1fr 1fr;
	padding: 20px 40px;
	row-gap: 30px;
	box-shadow: 0px 0px 53px -27px rgba(59, 134, 109, 0.83);
}
/* Top Row */
.header > .search {
	display: grid;
	grid-template-columns: min-content minmax(min-content, 600px) 1fr min-content 13%;
}
.header > * {
	display: flex;
	align-items: center;
}
.fa-bell,
.search img {
	justify-self: end;
}
.header span {
	padding-left: 10px;
	font-weight: bold;
}
.header .search input {
	border: none;
	background-color: rgb(201, 201, 201);
	border-radius: 15px;
	height: 30px;
}

/* Second Row */

.intro {
	display: grid;
	grid-template-columns: min-content 5fr 1fr 1fr 1fr;
}
.intro > div {
	padding-left: 20px;
	font-weight: bold;
	font-size: 1.2rem;
}
.intro > button {
	border: none;
	color: white;
	background-color: rgb(59, 134, 109);
	height: 35px;
	width: 100px;
	border-radius: 30px;
}

/* Main Layout Styling */

.main {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-auto-rows: 1fr;
	gap: 20px;
	height: 580px;
	padding: 28px 10px;
	background-color: rgb(208, 208, 208);
}
.main .projects {
	grid-row: 1 / 3;
}
.main .annoucements {
	grid-row: 1 / 2;
	padding: 20px;
}

/* Projects Styling */
.projects {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content repeat(3, 1fr);
	height: 100%;
	gap: 20px;
}
.projects > span {
	grid-row: 1;
	grid-column: 1 / 3;
}

/* Announcments Styling */
.announcments {
	display: grid;
	width: 93%;

	grid-template-rows: min-content repeat(3, 1fr);
	row-gap: 10px;
	padding: 20px;
	background-color: white;
}
.annoucement:nth-of-type(1),
.annoucement:nth-of-type(2) {
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}
/* Trending styling */
.trending {
	display: grid;

	row-gap: 10px;
	font-size: 0.8rem;
	padding-left: 10px;
	width: 93%;
	background-color: white;
}
.trending-item {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 1fr;
}
.trending-item > img {
	grid-row: 1 / 3;
}
/* Card Styling */
.card > p {
	font-size: 0.7rem;
}
.card h4 {
	margin-bottom: 3px;
}
.card {
	padding: 15px;
	background-color: white;
}
.annoucement p {
	font-size: 0.7rem;
}
